@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700;800&display=swap');

body {
    font-family: 'Inter', sans-serif;
    background-color: var(--bg-main);
    color: var(--text-dark);
    margin: 0;
    min-height: 100vh;
}

h1, h2, h3, h4, h5 {
    font-weight: 700;
    color: var(--text-dark);
}

p.subtitle {
    color: var(--text-light);
    font-size: 0.95rem;
    margin-bottom: 30px;
}